{% extends 'base.html' %}
{% block title %}Category Page{% endblock %}
{% block content %}
<style>
    .list-group {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-left: 0;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .list-group-item {
        font-size: 20px;
        color: #F25C05;
        position: relative;
        display: block;
        background-color: #fff;,
    }

    .list-group-item:hover, .dropdown-toggle:hover, .dropdown-menu-a:hover{
        color: #022873;
        text-decoration:none
    }

    .col-2 {
        max-width: 100%;
        position: relative;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .col-4 {
        margin-bottom: 30px;
        height: 66%;
    }

    .card-img-top {
        margin: 0 auto;
        width: 280px;
        height: 300px;
        padding-top: 1.5rem;
    }

    .card-body{
        padding: 1rem;
    }

    body {
        margin: 0;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
        }

    span.badge {
        min-width: 3rem;
        margin-left: 14px;
        text-align: center;
        font-size: 1rem;
        line-height: 26px;
        height: 26px;
        color: #ffffff;
        float: right;
        background-color: #022873;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .dropdown-menu {
        display: none;
        float: left;
        min-width: 10rem;
        padding: 0;
        margin: 0;
        font-size: 1rem;
        color: #F25C05;
        text-align: center;
        list-style: none;
        background-color: #fff;
    }

    .dropdown-menu li {
        padding-bottom: 4px;
        padding-top: 4px;
        background-color: #fff;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .list-group-item{
        width: 200px;
        margin-left:20px;
        font-size: 20px;
    }

    .dropdown-toggle, .dropdown-menu-a {
        color: #F25C05;
    }

    .dropdown-toggle {
        text-decoration: none;
    }

    #detail-view {
        text-align: center;
        float: right;
        background-color: #F25C05;
        border-color: #F25C05;
    }

    .card-img-top {
        margin: 0 auto;
    }
</style>
    {% load humanize %}
    <div class="col-2">
        <div class="list-group">
            <a href="/shop/" class="list-group-item">
                All
            </a>
            <a href="/shop/식단/" class="list-group-item">
                식단
            </a>
            <a href="/shop/운동복/" class="list-group-item">
                운동복
            </a>
            <a href="/shop/홈트기구/" class="list-group-item">
                홈트기구
            </a>
            <li class="dropdown list-group-item">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">고객지원</a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-menu-a" href="{% url 'noti:list' %}">공지사항</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="dropdown-menu-a" href="{% url 'faq:list' %}">FAQ</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="dropdown-menu-a" href="{% url 'qna:list' %}">Q&A</a></li>
                </ul>
            </li>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
            {% for product in products %}
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" src="{{product.image.url}}" alt="Product Image">
                        <div class="card-body">
                            <h4 class="card-title" style="margin-left: 5px">{{product.name}}</h4>
                            <hr/>
                            <p class="card-text" style="margin-left: 7px">
                                {{product.description}}
                                <span class="badge badge-secondary">
									{{product.price | floatformat:'0' | intcomma}} 원
                                </span>
                            </p>
                            <a href="{{product.get_absolute_url}}" class="btn btn-primary" id="detail-view">자세히 보기</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
